<div class="container">
  <h2 class="text-center">Equipo {{data.name}}<strong></strong></h2>
</div>
<div class="container">
  <form class="row g-3 d-flex p-2" action="/form" method="POST" enctype="multipart/form-data">
    <div class="col-md-3">
      <label for="nombre" class="form-label">Nombre del Equipo</label>
      <input type="text" class="form-control" id="nombre" placeholder="Arsenal FC" value="{{data.name}}" disabled>
    </div>
    <div class="col-md-2">
      <label for="nombre-abreviado" class="form-label">Nombre Abreviado</label>
      <input type="text" class="form-control" id="nombre-abreviado" placeholder="Arsenal" value="{{data.shortName}}"
        disabled>
    </div>
    <div class="col-md-2">
      <label for="nombre-acronimo" class="form-label">Acronimo de tres letras</label>
      <input type="text" class="form-control" id="nombre-acronimo" placeholder="ARS" value="{{data.tla}}" disabled>
    </div>
    <div class="col-md-5">
      <label for="input-email" class="form-label">Email</label>
      <input type="email" class="form-control" id="input-email" placeholder="arsenalTop16@gmail.com"
        value="{{data.email}}" disabled>
    </div>
    <div class="col-3">
      <label for="input-direccion" class="form-label">Pais</label>
      <input type="text" class="form-control" id="input-direccion" placeholder="Inglaterra" value="{{data.area.name}}"
        disabled>
    </div>
    <div class="col-3">
      <label for="input-telefono" class="form-label">Telefono</label>
      <input type="text" class="form-control" id="input-telefono" placeholder="+264123456" value="{{data.phone}}"
        disabled>
    </div>
    <div class="col-6">
      <label for="input-pagina" class="form-label">Pagina web</label>
      <input type="text" class="form-control" id="input-pagina" placeholder="http://www.arsenal.com"
        value="{{data.website}}" disabled>
    </div>
    <div class="col-3">
      <label for="input-fundacion" class="form-label">Año de fundacion</label>
      <input type="text" class="form-control" id="input-fundacion" placeholder="1887" value="{{data.founded}}" disabled>
    </div>
    <div class="col-2">
      <label for="input-primer-color" class="form-label">Color</label>
      <input type="text" class="form-control" id="input-colores" placeholder="Azul / Rojo" value="{{data.clubColors}}"
        disabled>
    </div>
    <div class="col-7">
      <label for="input-estadio" class="form-label">Estadio</label>
      <input type="text" class="form-control" id="input-estadio" placeholder="El Monumental" value="{{data.venue}}"
        disabled>
    </div>
    <div class="col-5">
      <label for="input-direccion" class="form-label">Direccion</label>
      <input type="text" class="form-control" id="input-direccion" placeholder="Avenida siempre viva"
        value="{{data.address}}" disabled>
    </div>
    {{#if data.crestUrl}}
    <div class="col-6">
      <img class="rounded mx-auto d-block" src="{{data.crestUrl}}" alt="Imagen del escudo de {{data.name}} archivo">
    </div>
    {{else}}
    <div class="col-6">
      <img class="rounded mx-auto d-block" src="{{data.crestLocal}}" alt="Imagen del escudo de {{data.name}} local">
    </div>
    {{/if}}

  </form>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Posicion</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Pais de nacimiento</th>
        <th scope="col">Nacionalidad</th>
        <th scope="col">Rol</th>
      </tr>
    </thead>
    <tbody id="lista-principal">
      {{>jugadores items=equipo}}

    </tbody>
  </table>
  <div class="col-6 d-flex flex-row-reverse mt-4">
    <a href="/" class="btn btn-primary justify-content-end" id="boton-retroceder-equipo"
      value="retroceder">Retroceder</a>
  </div>
</div>