<tbody id="lista-principal">
  {{#each items as |item|}}
  <tr>
    <td>{{item.name}}</td>
    <td>{{item.position}}</td>
    <td>{{item.dateOfBirth}}</td>
    <td>{{item.countryOfBirth}}</td>
    <td>{{item.nationality}}</td>
    <td>{{item.role}}</td>
  </tr>
  {{/each}}
</tbody>